body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("./ressources/tournai.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tranparent {
	opacity: 0;
}

.no-shadows {
    box-shadow: none!important;
}

.logo {
	width: auto;
	height: 100%;
	background-color: white;
}
